.cart {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

label {
  width: max-content;
  color: tomato;
  font-size: 13px;
  border-bottom: 0.5px solid tomato;
  margin: 3px 0;
}

.desc {
  font-size: 14px;
font-weight: 500;
}

.star{
  color: gold;
}

.username {
  font-size: 14px;
}

.date {
  font-size: 12px;
}

form {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color:black;

}

input {
  border: none;
  border-bottom: 1px solid rgb(124, 118, 118);
}

input::placeholder,
textarea::placeholder {
  font-size: 12px;
  color: rgb(32, 29, 29);
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

textarea {
  border: none;
  border-bottom: 1px solid gray;
}

.submitButton {
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color:g;
  cursor: pointer;
   background-color: teal;
}

.buttons,.logout
 {
  position: absolute;
  top: 10px;
  right: 10px;
}

.button {
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  font-weight: 900;
  cursor: pointer;
  width: 100px;
  height: 50px;
}

.button:focus{
  outline: none;
}

 .logout{
  background-color:red;
}

.login{
  background-color:lightseagreen ;
  margin-right: 10px;

}

.register{
  background-color:indianred;
}